.user-info {
    width: 100%;
}

.user-info-data {
    display: flex;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.user-info-data label {
    width: 100px;
    margin: 6px;
    padding: 8px 10px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    background: #559664;
    border-radius: 20px 0px;
}

.user-info-data input {
    display: block;
    height: 30px;
    width: 200%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.user-info-data input:read-only {
    background-color: #ccc;
}